<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= blog.title.upcase %>
  </p>
    <h5>Posted by  <%=link_to blog.user.name, user_path(blog.user) %></h5>
    <h6><%= pluralize(blog.views, "view") %></h6>
  <p>
    <strong>Status:</strong>
    <%=  link_to blog.status, toggle_status_blog_path(blog)  %>
  </p>
  <p>
    <strong>Body:</strong>
    <%= blog.body %>
  </p>

</div>
