<div class="container">
<p style="color: green"><%= notice %></p>

<h1>Blogs</h1>

<div id="blogs">
  <% @blogs.each do |blog| %>
    <%= render blog %>
    <p>
      <%= link_to "Show this blog", blog %>
    </p>
  <% end %>
</div>

<%= button_to "Destroy this blog", @blog, method: :delete %>

<%= link_to "New blog", new_blog_path %>
</div>