<div id="<%= dom_id portfolio %>">
  <p>
    <strong>Title:</strong>
    <%= portfolio.title %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= portfolio.subtitle %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= portfolio.body %>
  </p>

  <p>
    <strong>Main image:</strong>
    <%= portfolio.main_image %>
  </p>

  <p>
    <strong>Thumb image:</strong>
    <%= portfolio.thumb_image %>
  </p>

</div>
